@font-face {
  font-family: primary-font;
  font-weight: 200;
  src: url(../SuisseIntl-Light.otf);
  line-spacing: 10px;
}

body {
  font-family: primary-font;
  letter-spacing: .5px !important;
  color: #252525;
}

.navbar {
  padding: 1.5rem 1rem;
  font-family: primary-font;
  font-weight: 200;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.navbar .nav-link {
  font-size: 10px;
  color: #000 !important;
}

.navbar .nav-link:hover {
  color: #007bff !important;
}

.navbar .btn-primary {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: 0;
  border-radius: 50%;
  color: #fff !important;
}

.navbar .btn-primary:hover {
  color: #fff !important;
}

@media (min-width: 800px) {
  .navbar .btn-primary {
    margin-left: 2rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .navbar .nav-link {
    font-size: 14px;
  }
  .navbar .navbar-brand {
    font-size: 16px;
  }
}

#hero {
  margin-top: 50px;
}

#hero h1 {
  margin-top: 25px;
  font-family: primary-font;
  font-size: 62px;
}

#hero .bio {
  margin-top: 60px;
  font-family: primary-font;
  font-size: 16px;
  border-left: 2px solid #252525;
  padding: 1.2rem;
  float: right;
  background: rgba(25, 25, 25, 0.04);
}

@media (max-width: 800px) {
  #hero h1 {
    font-size: 38px;
  }
  #hero .bio {
    margin-top: 30px;
    font-size: 14px;
  }
}

#work {
  margin-top: 120px;
}

#work .best-work {
  font-family: primary-font;
  font-size: 18px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-orientation: mixed;
  text-align: right;
  margin-left: 50px;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

#work .slider-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  margin: 0 auto;
}

#work .slider-wrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work .slide {
  min-width: 410px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
}

#work .slide img {
  position: relative;
  width: 370px;
  height: 210px;
}

#work .slider-wrapper.animate {
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

@media (max-width: 800px) {
  #work {
    margin-top: 20px;
  }
  #work .best-work {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: none;
            transform: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
  }
  #work .slider-container {
    width: 100%;
    overflow: auto;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    margin-left: -25px;
  }
  #work .slide {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 45px;
  }
  #work .slide:nth-child(2) {
    margin-top: 0px;
  }
  #work .slide img {
    width: 100%;
    height: 210px;
  }
  #work .slider-wrapper {
    display: inline-block;
  }
  #work .slider-wrapper.animate {
    -webkit-transition: none;
    transition: none;
  }
}

#know-more {
  /*fLeft*/
  /* ----- MODAL STYLE ----- */
}

#know-more .modal.fleft .modal-dialog {
  -webkit-animation: fleft .5s ease-in-out forwards;
  animation: fleft .5s ease-in-out forwards;
  position: fixed;
  margin: auto;
  left: 0 !important;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

#know-more .modal.fleft .modal-content,
#know-more .modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

#know-more .modal.fleft .modal-body,
#know-more .modal.right .modal-body {
  padding: 15px 15px 80px;
}

#know-more .modal.fleft.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

#know-more .modal.fleft.fade.in .modal-dialog {
  left: 0;
}

#know-more .modal-content {
  border-radius: 0;
  border: none;
}

#know-more .know-more {
  margin-top: 80px;
  color: #000;
}

#know-more .know-more .row {
  padding: 0;
}

#know-more .know-more .row .makhluk-hidup {
  width: 125px;
}

#know-more .know-more .row h1 {
  width: 80%;
  font-family: primary-font;
  font-size: 62px;
  margin-top: 7px;
}

#know-more .know-more .row p {
  width: 80%;
  font-family: primary-font;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  margin-top: 7px;
}

@media (min-width: 800px) {
  #know-more .know-more .row {
    padding: 3rem;
  }
  #know-more .know-more .row h1 {
    margin-top: 0;
  }
  #know-more .know-more .row .makhluk-hidup {
    float: right;
  }
}

.work-detail {
  position: fixed;
  background: #fff;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  opacity: .2;
  visibility: hidden;
  -webkit-transition: opacity .55s, height .55s, width .55s, visibility .35s;
  transition: opacity .55s, height .55s, width .55s, visibility .35s;
  overflow: auto;
  z-index: 999;
}

.work-detail .container {
  margin-top: 65px;
  color: #000;
}

.work-detail .container h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.work-detail .container p {
  font-size: 16px;
  line-height: 27px;
}

.work-detail .container p:nth-last-child(1) {
  margin-top: -20px;
}

.work-detail .container ul li {
  font-family: primary-font !important;
}

.work-detail .container .body {
  padding-bottom: 50px !important;
}

.work-detail .container .body img {
  margin-top: 40px;
  width: 100%;
  border: 1px solid #252525;
}

.btn-close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1) !important;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-close:focus {
  outline: none;
}

.wshow {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.top {
  position: fixed;
  bottom: 25px;
  right: 40px;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-align: center;
  z-index: 3;
  border-radius: 4px;
  -webkit-animation: fbottom 1s ease-in-out forwards;
  animation: fbottom 1s ease-in-out forwards;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background: rgba(0, 0, 0, 0.03);
  border-left: 1px solid #d3dae0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
}

@-webkit-keyframes fleft {
  from {
    visibility: hidden;
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fleft {
  from {
    visibility: hidden;
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}
/*# sourceMappingURL=index.css.map */